{{ $activePage := "" }}
{{ if .IsHome }}
  {{ $activePage = "home" }}
{{ else if in (slice "plan/" "projects/" "news/") .File.Dir }}
  {{ $activePage = replace .File.Dir "/" "" }}
{{ else }}
  {{ $activePage = .File.BaseFileName }}
{{ end }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{.Title}} - {{ .Site.Title }}</title>

    <script type="text/javascript" src="/js/donate.js"></script>
    <script type="text/javascript" src="/js/nav.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/spasisofia.css" media="screen"></link>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" media="screen"></link>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "navigation.html" $activePage }}

    <div class="content">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
