<div class="social-container">
    <div class="social-icons-container">
        <a class="social-media-link" href="https://www.facebook.com/spasisofia">
            <i class="bx bxl-facebook-circle social-icon"></i>
            <span class="sr-only">Facebook</span>
        </a>
        <a class="social-media-link" href="https://www.youtube.com/c/SpasisofiaOrg">
            <i class="bx bxl-youtube social-icon"></i>
            <span class="sr-only">YouTube</span>
        </a>

        <a class="social-media-link" href="https://www.instagram.com/spasisofia/">
            <i class="bx bxl-instagram-alt social-icon"></i>
            <span class="sr-only">Instagram</span>
        </a>

        <a class="social-media-link" href="https://twitter.com/spasisofia">
            <i class="bx bxl-twitter social-icon"></i>
            <span class="sr-only">Twitter</span>
        </a>
    </div>
    <p class="copyright">
        2010 - 2021 Спаси София, Всички права запазени
    </p>
</div>